.ProgressDots_wrapper{
    width: 100%;
    margin-block:1.2rem  3rem;
    height: 6rem;
}
.dots_wrapper{
    display: flex;
    margin: .81rem auto;
    justify-content: center;
    
}
.dots_wrapper p{
    margin: 1.2rem 2.1rem;
    font-family: var(--font-base);
    font-size: larger;
    font-weight: 400;
}
.dot_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.dot_wrapper div{
    width: 18px;
    height: 24px;
    border-radius: 50%;
    background: gray;

}
.ProgressDots_wrapper hr {
    z-index: -1;
    transform:translateY(-24px) ;
    width: 320px;
    margin: 0 auto;
}
.bg_red{
    background: var(--main-red) !important;
}